@use "variables/variable-core-style" as *;

$spectrum-0-colour: none !default;
$spectrum-1-colour: none !default;
$spectrum-2-colour: none !default;
$spectrum-3-colour: none !default;
$spectrum-4-colour: none !default;
$spectrum-5-colour: none !default;
$spectrum-6-colour: none !default;

@font-face {
    font-display: auto;
    font-family: "Source Sans 3 Variable";
    font-stretch: normal;
    font-style: normal;
    font-weight: 200 900;
    src: url("../../dist/fonts/source-sans-3-variable/source-sans-3-variable-roman-font.woff2") format("woff2"),
        url("../../dist/fonts/source-sans-3-variable/source-sans-3-variable-roman-font.woff") format("woff"),
        url("../../dist/fonts/source-sans-3-variable/source-sans-3-variable-roman-font.otf") format("opentype");
}

@font-face {
    font-display: auto;
    font-family: "Source Sans 3 Variable";
    font-stretch: normal;
    font-style: italic;
    font-weight: 200 900;
    src: url("../../dist/fonts/source-sans-3-variable/source-sans-3-variable-italic-font.woff2") format("woff2"),
        url("../../dist/fonts/source-sans-3-variable/source-sans-3-variable-italic-font.woff") format("woff"),
        url("../../dist/fonts/source-sans-3-variable/source-sans-3-variable-italic-font.otf") format("opentype");
}

a {
    color: $teal-colour;

    &:focus,
    &:hover {
        color: $teal-dark-colour;
    }
}

body {
    background-color: $spectrum-0-colour;
    color: $spectrum-6-colour;
    font-family: "Source Sans 3 Variable", sans-serif;
}

footer {
    background-color: $spectrum-5-colour;
    color: $spectrum-1-colour;
    font-size: smaller;
}

h1,
.h1 {
    text-transform: uppercase;
}

h2,
.h2 {
    color: $teal-colour;
    text-transform: uppercase;
}

h3,
.h3 {
    color: $teal-colour;
}