@use "variables/variable-core-style" as *;

@use "default-core-style" with (
    $spectrum-0-colour: $white-colour,
    $spectrum-1-colour: $grey-lightest-colour,
    $spectrum-2-colour: $grey-light-colour,
    $spectrum-3-colour: $grey-colour,
    $spectrum-4-colour: $grey-dark-colour,
    $spectrum-5-colour: $grey-darkest-colour,
    $spectrum-6-colour: $black-colour
);