@use "sass:color";

//Greyscale colours.
$black-colour: #000000;
$grey-colour: #888888;
$grey-dark-colour: color.adjust($grey-colour, $lightness: -20%);
$grey-darkest-colour: color.adjust($grey-colour, $lightness: -30%);
$grey-light-colour: color.adjust($grey-colour, $lightness: 20%);
$grey-lightest-colour: color.adjust($grey-colour, $lightness: 30%);
$white-colour: color.invert($black-colour);

//Schematic colours.
$teal-colour: #009999;
$teal-dark-colour: color.adjust($teal-colour, $lightness: -6.6%);
$teal-darkest-colour: color.adjust($teal-colour, $lightness: -10%);
$teal-light-colour: color.adjust($teal-colour, $lightness: 6.6%);
$teal-lightest-colour: color.adjust($teal-colour, $lightness: 10%);