/*
    ## Greyscale colours.
*/
$black-colour: #000000;

$grey-colour: #888888;
$grey-dark-colour: darken($grey-colour, 20%);
$grey-darkest-colour: darken($grey-colour, 30%);
$grey-light-colour: lighten($grey-colour, 20%);
$grey-lightest-colour: lighten($grey-colour, 30%);

$white-colour: adjust-hue($black-colour, 180deg);

/*
    ## Additional colours.
*/
$teal-colour: #009999;
$teal-dark-colour: darken($teal-colour, 6.6%);
$teal-darkest-colour: darken($teal-colour, 10%);
$teal-light-colour: lighten($teal-colour, 6.6%);
$teal-lightest-colour: lighten($teal-colour, 10%);