$accent-colour: #009999;
$accent-dark-colour: #007777;
$accent-light-colour: #00bbbb;
$complementary-colour: #990000;
$complementary-dark-colour: #770000;
$complementary-light-colour: #bb0000;
$black-colour: #000000;
$grey-colour: #777777;
$grey-dark-colour: #444444;
$grey-darkest-colour: #111111;
$grey-light-colour: #bbbbbb;
$grey-lightest-colour: #eeeeee;
$white-colour: #ffffff;