@import "./variable-core-style.scss";

$spectrum-0-colour: $black-colour;
$spectrum-1-colour: $grey-darkest-colour;
$spectrum-2-colour: $grey-dark-colour;
$spectrum-3-colour: $grey-colour;
$spectrum-4-colour: $grey-light-colour;
$spectrum-5-colour: $grey-lightest-colour;
$spectrum-6-colour: $white-colour;